<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shelly AI: About Page</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="../static/css/styles.css" rel="stylesheet"> <!-- Link to your custom CSS file -->
</head>
<body class="text-gray-300 body-edits">

    <!-- Static Cool Background -->
    <div class="cool"></div>

    {% include "includes/navbar.html" %}

    <p>TODO: make about</p>

    

    <!-- Other Sections -->
    <!-- Rest of your HTML code here... -->

</body>
</html>
