<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shelly AI: Account Page</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="../static/css/styles.css" rel="stylesheet"> <!-- Link to your custom CSS file -->
    <script src="../static/js/accountBackground.js"></script>
    <script src="../static/js/logout.js"></script>
    <script src="../static/js/account.js"></script>
</head>
<body class="text-center">

    {% include "includes/navbar.html" %}

    <!-- Gradient Section -->
    <div class="gradient-section">
        <div class="cool text-center">
            <h1 class="typing font-bold mb-4" id="welcome">Welcome</h1>
            <p class="text-lg mb-6 text-gray-400 opacity-0 transition-opacity duration-1000" id="p-fade">Add some of your favorite spots below, and start using Shelly</p>
        </div>
        
    </div>

    <!-- Content Section -->
    <div class="content-section">
        <div id="content-section-1">
             <!-- Account Info -->
            <div class="bg-gray-900 p-6 rounded-lg shadow-lg w-96">
                <h2 class="text-2xl font-semibold mb-4">Account Info</h2>
                <p id="username"><strong>Username:</strong></p>
                <p id="email"><strong>Email:</strong> [email]</p>
            </div>
            <br>
            <!-- Update Spots Section -->
            <div class="bg-gray-900 p-6 rounded-lg shadow-lg w-96">
                <h2 class="text-2xl font-semibold mb-4">Update Spots</h2>
                <!-- Dropdown menu-->
                <select
                    id="spots"
                    class="w-full px-4 py-2 bg-gray-800 text-white rounded-lg focus:outline-none focus:ring focus:ring-blue-400"
                    >
                    <option value="0">Select a Spot</option>
                </select>
                <button
                    class="mt-4 px-6 py-2 bg-blue-600 text-white font-semibold rounded-lg hover:bg-blue-800 transition"
                    onclick="addSpot()"
                >
                    Save
                </button>
            </div>

            <!-- Submit Button -->
            <br>

            <div id="favorite-spots" class="space-y-4">

            </div>



            <br>

            <p><a href="/chat" class="px-8 py-3 bg-gray-900 text-gray-400 font-semibold rounded-lg shadow-md hover:bg-gray-600">Go to Shelly-AI</a></p>
            
            <br>

            <button
            id="submit"
            onclick="logout()"
            class="px-8 py-3 bg-gray-900 text-gray-400 font-semibold rounded-lg shadow-md hover:bg-gray-600"
            >
            logout
            
            </button>
        </div>
    </div>

</body>
</html>
