<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shelly AI: Account Page</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="../static/css/styles.css" rel="stylesheet"> <!-- Link to your custom CSS file -->
    <script src="../static/js/background.js"></script>
    <script src="../static/js/logout.js"></script>
</head>
<body class="text-center">

    {% include "includes/navbar.html" %}

    <!-- Gradient Section -->
    <div class="gradient-section">
        <div class="cool text-center">
            <h1 class="typing font-bold mb-4">Welcome</h1>
            <p class="text-lg mb-6 text-gray-400 opacity-0 transition-opacity duration-1000" id="p-fade">Add some of your favorite spots below, and start using Shelly</p>
        </div>
        
    </div>

    <!-- Content Section -->
    <div class="content-section">
        <h1 class="text-4xl font-bold mb-4">Manage Account</h1>
        <!-- Account Information Table -->
        

        <!-- Submit Button -->
        <button
        id="submit"
        onclick="logout()"
        class="px-8 py-3 bg-gray-900 text-gray-400 font-semibold rounded-lg shadow-md hover:bg-gray-600"
        >
        logout
    </button>
    </div>

</body>
</html>
