<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Flask App</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="../static/css/styles.css" rel="stylesheet"> <!-- Link to your custom CSS file -->
</head>
<body class="text-gray-300 body-edits">

    <!-- Static Cool Background -->
    <div class="cool"></div>

    {% include "includes/navbar.html" %}

    <!-- Hero Section -->
    <header class="text-gray-300 py-20">
        <div class="container mx-auto px-6 text-center">
            <h1 class="text-4xl font-bold mb-4">Shelly AI</h1>
            <p class="text-lg mb-6">Modern way to understand surf spots.</p>
            <a href="/login" class="px-8 py-3 bg-gray-900 text-gray-400 font-semibold rounded-lg shadow-md hover:bg-gray-600">Get Started</a>
        </div>
    </header>


    

    <!-- Other Sections -->
    <!-- Rest of your HTML code here... -->

</body>
</html>
